
.s1{
    position: relative;
    width: 100%;
    height: 715px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.s1 > h4{
    position: absolute;
    font-size: 25px;
    font-weight: 800;
    width: 430px;
    top: 150px;
    left: 20px;
}
.s1 > p{
    width: 494px;
    font-size: 25px;
    font-weight: 400;
}

.s1 > .p1{
    position: absolute;
    top: 280px;
    left: 20px;
}
.s1 > .p2{
    position: absolute;
    top: 420px;
    left: 2rem;
}

.lines {
    background: url("../images/linhas.svg") center no-repeat;
    margin-left: 55rem;
   
}
.pessoa {
    margin-left: 60px;
    height: 650px;
}

.s2{
    background-color:var(--color-secundary);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.s2 > h4{

    font-size: 30px;
    font-weight: 800;
}

.s3{

    height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
}
